@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle:checked~label div.toggle-dot {
    @apply translate-x-3;
}

.humberger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.humberger-top,
.humberger-middle,
.humberger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    transform: rotate(0);
    transition: all 0.5s;
}

.humberger-middle {
    transform: translateY(7px);
}

.humberger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .humberger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .humberger-bottom {
    display: none;
}

.open .humberger-middle {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}